
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



  <div class="ion-padding"> <h1>Complaints</h1> </div>

<ion-content> 

    
  <ion-list>
     

    <ng-container *ngIf="!posts || posts.length == 0">
      <div *ngFor="let n of [0,1,2]" class="ion-padding">
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
 
    <ion-item-sliding *ngFor="let item of posts">
      <ion-item lines="inset" button [routerLink]="['/post-details', item.id]">
        <ion-label>
          Denuncia: {{ item.description }} <br>
          <p>{{ item.createdAt | date:'short' }} / {{ item.location }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">Folio: {{ item.id }}</ion-note>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/post-details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>

<ion-button expand="full" color="primary" routerLink="/mapa">Mapa</ion-button>
<ion-button expand="full" color="danger">911</ion-button>


