<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
   <h1>Home</h1>
    
  </div>
<!-- Inputs with labels -->
<ion-item>
  <ion-label>Area complaints</ion-label>
 <ion-input position="fixed" type="text" placeholder="Write your complaint" id="data_complaint"></ion-input>
</ion-item>

<!-- Default -->
<ion-button color="dark" href="#">
		Add
</ion-button>


<br><br><br>


<ion-button position="fixed" expand="full" color="danger">911</ion-button>


</ion-content>
